/******************************************
General
*******************************************/

#wrapper {
    /*    max width is the maximum width it can be*/
    max-width: 940px;
    /*    margin 0 is for all sides*/
    margin: 0 auto;
    /*    first one is for top and bottom. second one is for left and right*/
    padding: 0 5%;
    margin-top: 14%;
}

img {
    width: 100%;
    height: 15%;
}

.par {
    background-color: dimgray;
}

h3,
h4,
h5 {
    color: white;
}

.p-pic {
    width: 40%;
    margin-top: 10%;
}

p {
    color: white;
}

.con-icon {
    height: 30px;
    width: 50px;
}

.black {
    color: black;
    text-align: center;
}

section h3 {
    font-family: 'Krona One', sans-serif;
}

.lef {
    text-align: left;
}

/******************************************
MEDIA QUERIE
*******************************************/

@media screen and (max-width: 527px) {
    .projct {
        width: 90%;
    }
    nav li {
        margin: 10px;
    }
}

/******************************************
footer
*******************************************/
.social-media-icon {
    height: 40px;
    width: 60px;
    margin: 0 5px;
}

.social-media-icon-2 {
    height: 45px;
    width: 45px;
    margin: 0 5px;
}

footer {
    text-align: center;
    margin: 0 auto;
}

.foot {
    background-color: #AB4000;
    width: 100%;
    height: 30%;
}

/******************************************
nav
*******************************************/

a {
    text-decoration: none;
}

#logo {
    text-align: center;
    margin: 0;
}

a:hover {
    color: white;
    text-decoration: none;
}

a {
    color: white;
}

header {
    background: #4c4c4c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    font-family: 'Pirata One', cursive;
}

nav {
    background: #323232;
}

nav a,
nav a:visited {
    color: white;
    font-family: 'Pirata One', cursive;
}

a:visited {
    color: white;
}

nav li:hover {
    background: black !important;
}

nav ul {
    margin: 0 auto;
    text-align: center;
    padding: 0px;
}

nav li {
    background: #323232;
    list-style-type: none;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
}

nav li.selected:after {
    content: '';
    border-top: 20px solid blue;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    float: left;
    margin-left: 25%;
    position: relative;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid blue;
    margin-left: 10%;
    margin-right: 10%;
}

li {
    list-style-type: none;
}
/******************************************
Portfolio
*******************************************/

.indexbg {
    background: url(../img/background.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.projct {
    width: 40%;
    float: left;
    margin: 5%;
     box-shadow: 10px 10px 5px #121212;
}

.modell {
    margin-top: 30%;
}

.commentlist {
    margin-top: 0px;
}

/******************************************
About Me
*******************************************/
.aboutbg {
    background: url(../img/about-contact.jpeg) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

/******************************************
Contact Me
*******************************************/
.contactbg {
    background: url(../img/contact-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

label {
    color: white;
}

/******************************************
Parallex
*******************************************/

.parallax {
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    visibility: hidden;
    position: absolute;
}


/* centre the content in the parallax layers */

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.parallax__group {
    position: relative;
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

#group1 {
    z-index: 5;
    /* slide over group 2 */
}

#group1 .parallax__layer--base {
    background: #83c1b2;
}

#group2 {
    z-index: 3;
    /* slide under groups 1 and 3 */
}

#group2 .parallax__layer--back {
    background: url(../img/first%20project.png);
}

#group3 {
    z-index: 4;
    /* slide over group 2 and 4 */
}

#group3 .parallax__layer--base {
    background: url(../img/portv2.png);
}

#group4 {
    z-index: 2;
    /* slide under group 3 and 5 */
}

#group4 .parallax__layer--deep {
    background: url(../img/portv3.png);
}

#group5 {
    z-index: 3;
    /* slide over group 4 and 6 */
}

#group5 .parallax__layer--base {
    background: url(../img/landing-page.png);
}

#group6 {
    z-index: 2;
    /* slide under group 5 and 7 */
}

#group6 .parallax__layer--back {
    background: url(../img/SnakeScreenShot.gif);
}

#group7 {
    z-index: 3;
    /* slide over group 7 */
}

#group7 .parallax__layer--base {
    background: url(../img/Mario%20Screenshot.png);
}

#group8 {
    z-index: 6;
    /* slide over group 2 */
}

#group8 .parallax__layer--base {
    background: url(../img/about-contact.jpeg);
}

#group9 {
    z-index: 3;
    /* slide under groups 1 and 3 */
}

#group9 .parallax__layer--back {
    background: url(../img/contact-background.jpg);
}